# Dependencies
node_modules/

# Build Output
lib/
dist/
docs/
docs.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Data Results (Scraping)
results/
csv/

# System Files
.DS_Store
.env
.vscode/
.idea/

# Temporary Files
*.tsbuildinfo
